# Creating new tables

In [132]:
# connect to database
# HERE I USE FAKE DATABASE WITH RANDOM SENSELESS DATA
con = sqlite3.connect("university_professors.db")
cur = con.cursor()

In [133]:
cur.execute("""CREATE TABLE IF NOT EXISTS professors (
                firstname text,
                lastname text
               );"""
               )

In [119]:
cur.execute("""CREATE TABLE IF NOT EXISTS universities (
                university_shortname text,
                university text,
                university_city text
               );"""
               )

In [120]:
pd.read_sql("""SELECT * 
               FROM universities
               ;""", 
            con)

Empty DataFrame
Columns: [university_shortname, university, university_city]
Index: []

## Adding columns to existing tables is easy, especially if they're still empty.

To add columns you can use the following SQL query:

```
ALTER TABLE table_name
ADD COLUMN column_name data_type;
```

In [134]:
cur.execute("""ALTER TABLE professors
               ADD COLUMN university_shortname text
               ;"""
               )

In [ ]:
# Insert unique professors into the new table
pd.read_sql("""INSERT INTO professors 
               SELECT firstname, lastname, university_shortname 
               FROM university_professors
               ;""", 
            con)

In [ ]:
pd.read_sql("""SELECT * 
               FROM professors
               ;""", 
            con)

In [148]:
cur.execute("""CREATE TABLE affiliations (
                firstname text,
                lastname text,
                university_shortname text,
                function text,
                organisation text
               );"""
               )

- ### To rename columns:
```
ALTER TABLE table_name
RENAME COLUMN old_name TO new_name;
```

- ### To delete columns:
```
ALTER TABLE table_name
DROP COLUMN column_name;
```

In [149]:
cur.execute("""ALTER TABLE affiliations
               RENAME COLUMN organisation TO organization
               ;"""
               )

In [150]:
cur.execute("""ALTER TABLE affiliations
               DROP COLUMN university_shortname
               ;"""
               )

- ### For table deletion, you can use the simple command:

```
DROP TABLE table_name;
```

- ### The syntax for changing the data type of a column

```
ALTER TABLE table_name
ALTER COLUMN column_name
TYPE varchar(10)
```

In [ ]:
cur.execute("""ALTER TABLE professors
               ALTER COLUMN university_shortname
               TYPE char(3)
               ;"""
               )

In [ ]:
cur.execute("""ALTER TABLE professors 
               ALTER COLUMN firstname 
               TYPE varchar(10)
               USING SUBSTRING(firstname FROM 1 FOR 10)
               ;"""
               )